/* The hero class styles the main hero section of the page */
.hero {
    height: 100vh; /* Full viewport height */
    width: 100%;
    display: flex; /* Flexbox layout */
    /*flex-direction: column; !* Column layout *!*/
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    background-image: 
        linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0)), /* Gradient overlay */
        url('../assests/images/leopard-ledge.jpg'); /* Background image */
    background-size: cover; /* Cover the entire section */
    background-position: center; /* Center the background image */
     position: relative; /* Ensure the pseudo-element is positioned relative to this */
}

/* The hero-section class styles the hero section with a background image */
.hero-section {
    position: relative; /* Position relative for absolute positioning of child elements */
    height: 100vh; /* Full viewport height */
    background-size: cover; /* Cover the entire section */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
}

/* Adds a gradient overlay to the hero section */
.hero-section::after {
    content: ''; /* Empty content for pseudo-element */
    position: absolute; /* Absolute positioning */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent); /* Gradient from bottom */
    z-index: 2; /* Ensure it is above the background image */
}

/* Styles the content within the hero section */
.hero-content {
    text-align: center; /* Center text alignment */
    color: var(--timberwolf);/* White text color */
    padding: 40px; /* Padding around the content */
    border-radius: 20px; /* Rounded corners */
    background: rgba(255, 255, 255, 0); /* Transparent background */
    box-shadow: 0 8px 32px 0 rgba(40, 40, 43, 0.37); /* Glass morph box-shadow */
    backdrop-filter: blur(5px); /* Blur effect */
    -webkit-backdrop-filter: blur(5px); /* Blur effect for Safari */
    border: 1px solid rgba(255, 255, 255, 0.18); /* Border */
    width: 80%; /* 80% width of the container */
    max-width: 600px; /* Maximum width */
    animation: fade-in 1s ease-in-out; /* Fade-in animation */
    z-index: 3; /* Ensure it is above the overlay */
}
.typing-phrases{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--timberwolf);
    margin-top: 20px;
    animation: slide-up 1s ease-in-out;
}

/* Styles additional information within the hero section */
.hero-info {
    margin-top: 20px; /* Margin at the top */
    font-size: 1.2rem; /* Font size */
    animation: slide-up 1s ease-in-out; /* Slide-up animation */
}


/* Keyframes for fade-in animation */
@keyframes fade-in {
    0% {
        opacity: 0; /* Start with opacity 0 */
    }
    100% {
        opacity: 1; /* End with opacity 1 */
    }
}

/* Keyframes for slide-up animation */
@keyframes slide-up {
    0% {
        transform: translateY(50px); /* Start with translation 50px down */
        opacity: 0; /* Start with opacity 0 */
    }
    100% {
        transform: translateY(0); /* End with no translation */
        opacity: 1; /* End with opacity 1 */
    }
}