/* Toggle button for side navigation */
#toggle-nav {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
    background: var(--tawny);
    border: none;
    color: var(--matte-black);
    font-size: 1.5rem;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    .neomorphic;
}

#side-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color:var(--matte-black);
    padding: 20px;
    z-index: 100;
   transition: transform 0.3s ease;
    .neomorphic;

}
#side-nav.collapsed {
    transform: translateX(-180px);
}

#side-nav .logo {
    text-align: center;
    margin-bottom: 20px;
}

#side-nav .logo img {
    max-width: 100px;
    height: auto;
}

#side-nav ul{
    list-style-type: none;
    padding: 0;
}

#side-nav ul li{
  margin-bottom: 10px;
}

#side-nav ul li a {
    color: var(--tawny);
    text-decoration: none;
    font-size: 1.1rem;
    transition: all 0.3s ease;
}

#side-nav ul li a:hover, #side-nav ul li a.active {
    color: #fff;
    text-shadow: 0 0 10px var(--tawny);
}


